body {
	margin: 1rem auto;
	max-width: 64em;
	font-family: Georgia, serif;
	line-height: 1.5;
	padding: 4em 1em;
	color: #333;
	background-color: #f5ffee;
}

main {
	margin: auto;
}

h1,
main > p {
	text-align: center;
}

h1 {
	color: #444;
}

h2 {
	margin-top: 2rem;
}

li {
	line-height: 2rem;
}

.fake-h3 {
	font-size: 1.17em;
	font-weight: bold;
}

.details-leading {
	margin-bottom: 1rem;
}
